@import './styles/utils.scss';
.SassComponent {
    display : inline-block;
    background : $oc-gray-2;
    @include media('<1000px'){
        background: $oc-gray-2;
    }
    .box{
        background:red;
        cursor : pointer;
        transition:all 0.3s ease-in;
        &.red{ // red class가 box class와 같이 사용되었을 경우
            background : $red;
            @include square(1);
        }
        &.orange{ // red class가 box class와 같이 사용되었을 경우
            background : $orange;
            @include square(2);
        }
        &.yellow{ // red class가 box class와 같이 사용되었을 경우
            background : $yellow;
            @include square(3);
        }
        &.green{ // red class가 box class와 같이 사용되었을 경우
            background : $green;
            @include square(4);
        }
        &.blue{ // red class가 box class와 같이 사용되었을 경우
            background : $blue;
            @include square(5);
        }
        &.indigo{ // red class가 box class와 같이 사용되었을 경우
            background : $indigo;
            @include square(6);
        }
        &.violet{ // red class가 box class와 같이 사용되었을 경우
            background : $violet;
            @include square(7);
        }
        &:hover{
            background : gray;
            color : white;
            font-size : 40px;
        }
    }
}